body,
html {
  height: 100%;
}

.bg {
  background-image: linear-gradient(
      135deg,
      transparent 0%,
      transparent 30%,
      rgba(229, 127, 23, 0.6) 30%,
      rgba(229, 127, 23, 0.6) 33%,
      transparent 33%,
      transparent 64%,
      rgba(235, 177, 39, 0.6) 64%,
      rgba(235, 177, 39, 0.6) 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 39%,
      rgb(229, 127, 23) 39%,
      rgb(229, 127, 23) 76%,
      rgb(232, 152, 31) 76%,
      rgb(232, 152, 31) 80%,
      transparent 80%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.centered {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:hover {
  color: #5a646c;
}

a {
  text-decoration: none;
  color: #000000;
}
